<header>
		<nav>
				<div>
						<a><span><%= link_to "Naslovna", root_path %></span></a>
				</div>
				<div>
						<a><span><%= link_to "DobavljaÄi", dealers_path %> </span></a>
				</div>
				<div>
						<a><span><%= link_to "Modeli", models_path %> </span></a>
				</div>
		</nav>
</header>